@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800|Roboto+Slab:400,100,300,700);

/**  Basic Page CSS **/
body{
	font-family: "Roboto Slab", sans-serif;
	font-weight: 300;
	font-size: 2em;
	position: relative;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Open Sans", sans-serif;
	font-weight: 100;
	margin: 0;
}

/**  Header Navigation **/

header .navbar {
	padding: 30px 0;
	transition: all .5s ease-out;
}

header .navbar-default {
	background-color: transparent;
	border: none;
}

header .navbar-default .navbar-nav a {
	color: white;
	padding: 5px 8px;
}

header .navbar-default .navbar-nav a:hover {
	color: #EEC856;
}

header .navbar-default .navbar-nav .active a {
	font-weight: 700;
	color: #EEC856;
	background: transparent;
	border-bottom: 4px solid #EEC856;
	text-shadow: none;
}

header .navbar-default .navbar-nav .active a:hover {
	color: #E15D5F;
	background: transparent;
	text-shadow: none;
}

/**  Navbar Toggle **/
header .navbar-toggle {
	background-color: #279182;
}

header .navbar-default .navbar-toggle .icon-bar {
	background-color: white;
}

@media only screen
and (max-width: 768px) {
	header .navbar-collapse.in {
		background-color: rgba(0,0,0, .5);
	}
}

/**  nav inbody **/

header .inbody {
	background: rgba(104,73,49,.9);
}

header .navbar.inbody {
	padding-top: 0;
	padding-bottom: 0;
}

header .navbar.inbody .navbar-nav {
	padding-top: 10px;
}

header .inbody .navbar-brand {
	background-size: 43px;
	background-position: top left;
	margin-top: 5px;
	padding-bottom: 0;
	margin-left: 10px;
}

header .inbody .navbar-brand h1 {
	font-size: 1.1em;
	padding-left: 38px;
}

header .inbody .navbar-brand span.subhead {
	display: none;
}


/** Jumbotron **/
.jumbotron {
	text-align: center;
	font-family: "Roboto Slab", sans-serif;
	margin-top: 70px;
	color: #481206;
	background-color: #EEF08A;
	border-style: solid;
	border-width: medium;
}


/**  Page **/
.page {
	padding: 50px 0;
}

.page h2 {
	text-align: center;
	margin-bottom: 30px;
}

/**  Page -- introduction **/
#introduction {
	background-color: #E4D29D;
	background-image: linear-gradient(to bottom, #EEF08A, #819A2D);
	border-top: 20px solid rgba(238, 200, 86, .5);
}

/**  Page -- history **/

.history {
	margin: 20px 0;
	text-align: center;
}

#history img.icon {
	display: block;
	width: 50px;
	margin: 0 auto;
	margin-bottom: 5px;
}

#history {
	border-style: solid;
	border-width: medium;
}

#history h3 {
	margin-bottom: 10px;
}

@media only screen
and (min-width: 450px)
and (max-width: 768px) {
	.history p {
		padding: 0 20%;
	}
}

#history {
	background-color: #E4D29D;
	background-image: linear-gradient(to bottom, #E4D29D, #CDAE50);
}

.workPicture {
	margin: 10px 0;
}

.workPicture h3 {
	font-weight: 600;
	font-size: 1.2em;
	color: #6F4E36;
	padding-bottom: 5px;
}

.workPicture p {
	font-size: .8em;
}

.workPicture img {
	width: 100%;
}

/**  Page -- Q and A **/

#qAndA {
	background-color: #bab68d
}
#qAndA {
	padding: 200px;
}

#qAndA h2 {
	display: none;
}

#qAndA blockquote {
	margin: 0;
	padding: 0;
	border-left: 20px;
	min-height: 100px;
	position: relative;
}

/*#qAndA blockquote .quote {
  background-color: rgba(255,255,255,.6);
  padding: 20px 5%;
  position: absolute;
  bottom: 0;
  width: 75%;
  font-weight: 400;
  border-radius: 0 50px 0 0;
}*/

#qAndA blockquote .quote:hover {
	background-color: rgba(239,240,196,.9);
}

#qAndA .question {
	font-size: 1.4em;
	line-height: 110%;
	font-weight: 400;
}


#qAndA .question .answer {
	opacity: 0;
	font-size: 0;
	line-height: 0;
	padding-top: 10px;
}


#qAndA .question:hover .answer {
	font-family: "Open Sans", sans-serif;
	font-weight: 100;
	display: block;
	opacity: 1;
	font-size: 1.8em;
	line-height: 140%;
}

#qAndA .question:hover {
	display: block;
	font-size: .7em;
	text-align: left;
}

#qAndA .question .question::after {
	content: '...';
}

#qAndA .question:hover .question::after {
	content: '';
}

/**  Footer **/

footer {
	background:  #6d3236;
	color: white;
	font-size: .8em;
	padding: 20px 0 40px 0;
}


footer .phone, .email {
	font-size: 1.4em;
	font-weight: 700;
	color: #E0E6AE;
}



