@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800|Roboto+Slab:400,100,300,700);

/**  Basic Page CSS **/
body{
	font-family: "Roboto Slab", sans-serif;
	font-weight: 300;
	font-size: 2em;
	position: relative;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Open Sans", sans-serif;
	font-weight: 100;
	margin: 0;
}

.container-fluid {
	margin-bottom: -10px;
}
/**  Header Navigation **/

header .navbar {
	padding: 10px 0;
	transition: all .5s ease-out;
}

header .navbar-default {
	background-color: rgba(104, 73, 49, 0.4);
	border: none;
}

header .navbar-default .navbar-nav a {
	color: white;
	padding: 5px 8px;
}

header .navbar-default .navbar-nav a:hover {
	color: #EEC856;
}

header .navbar-default .navbar-nav .active a {
	font-weight: 700;
	color: #EEC856;
	background: transparent;
	border-bottom: 4px solid #EEC856;
	text-shadow: none;
}

header .navbar-default .navbar-nav .active a:hover {
	color: #E15D5F;
	background: transparent;
	text-shadow: none;
}

/**  Navbar Toggle **/
header .navbar-toggle {
	background-color: #279182;
}

header .navbar-default .navbar-toggle .icon-bar {
	background-color: white;
}

@media only screen
and (max-width: 768px) {
	header .navbar-collapse.in {
		background-color: rgba(0,0,0, .5);
	}
}

/**  nav inbody **/

header .inbody {
	background: rgba(104,73,49,.9);
}

header .navbar.inbody {
	padding-top: 0;
	padding-bottom: 0;
}

header .navbar.inbody .navbar-nav {
	padding-top: 10px;
}

header .inbody .navbar-brand {
	background-size: 43px;
	background-position: top left;
	margin-top: 5px;
	padding-bottom: 0;
	margin-left: 10px;
}

header .inbody .navbar-brand h1 {
	font-size: 1.1em;
	padding-left: 38px;
}

header .inbody .navbar-brand span.subhead {
	display: none;
}


/** Jumbotron **/
.jumbotron {
	text-align: center;
	font-family: "Roboto Slab", sans-serif;
	margin-top: 70px;
	color: #481206;
	background-color: #EEF08A;
	border-style: solid;
	border-width: medium;
}


/**  Page **/
.page {
	padding: 50px 0;
}

.page h2 {
	text-align: center;
	margin-bottom: 30px;
}

/**  Page -- introduction **/
#introduction {
	background-color: #E4D29D;
	background-image: linear-gradient(to bottom, #EEF08A, #819A2D);
	border-top: 20px solid rgba(238, 200, 86, .5);
}

/**  Page -- history **/

.history {
	margin: 20px 0;
	text-align: center;
}

#history img.icon {
	display: block;
	width: 50px;
	margin: 0 auto;
	margin-bottom: 5px;
}

#history {
	border-style: solid;
	border-width: medium;
}

#history h3 {
	margin-bottom: 10px;
}

@media only screen
and (min-width: 450px)
and (max-width: 768px) {
	.history p {
		padding: 0 20%;
	}
}

#history {
	background-color: #E4D29D;
	background-image: linear-gradient(to bottom, #E4D29D, #CDAE50);
}

.workPicture {
	margin: 10px 0;
}

.workPicture h3 {
	font-weight: 600;
	font-size: 1.2em;
	color: #6F4E36;
	padding-bottom: 5px;
}

.workPicture p {
	font-size: .8em;
}

.workPicture img {
	width: 100%;
}

/**  Q and A **/
#parchment {
	background: url(../images/parchment.jpg) 0em 0em;
}

.faq_container {
	margin: 20px 0px 0px 20px;
	padding: 0px 0px 5px 0px;
	width: 700px;
}

.faq {
	margin: 0px 15px 35px 15px;
	padding: 35px 15px 15px 70px;
	position: relative;
}

.faq_question {
	margin: 0px;
	padding: 0px 0px 5px 0px;
	display: inline-block;
	cursor: help;
	font-weight: bold;
	color: #1f4f71;
}

.faq_answer_container {
	height: 0px;
	overflow: hidden;
	padding: 0px;
	color: #bf572c;
}

.faq_answer {
	margin: 0px;
	padding: 0px;
	color: #bf572c;
	font-weight: normal;
}

.faq .letter_q {
	width: 40px;
	height: 50px;
	position: absolute;
	top: 20px; left: 25px;
	background: url(../images/q.png) 0px 0px;
}

.faq .letter_a {
	width: 43px;
	height: 40px;
	position: absolute;
	top: 42px; left: 23px;
	background: url(../images/a.png) 0px 0px;
	display: none;
}

/** contact **/
.button-container {
	margin-top: 50px;
	padding: 30px 0;
	text-align: center;
}

.button-container button {
	margin: 5px;
}

/********************************************
* Modal Window Base Styles
********************************************/
button.close {
	padding: 0 5px;
}
/********************************************
* Primary Page Styles
********************************************/
.form-wrap {
	background-color: #E4D29D;
	margin: 0 0 50px 0;
	padding: 20px 0 0 0;
}

/********************************************
* Form Styles
********************************************/
form {
	/*color: #1295FF;*/
	color: #fff;
}

.form-group {
	border-bottom: 1px solid #111;
	padding-bottom: 25px;
}

.form-group:last-child {
	border: none;
	margin-top: 20px;
}

label {
	font-weight: 400;
}

.control-label {
	font-family: "Roboto", sans-serif;
	font-size: 1.4em;
	font-weight: 300;
	padding-bottom: 4px;
	text-align: left !important;
}

.input-group-addon {
	border-radius: 0 !important;
	background: none;
	border: 1px solid #fff;
	color: #fff;
}

.help-block {
	color: #ddd;
	font-size: 0.85em;
	margin-top: 0;
}

/********************************************
* Input Field Styles
********************************************/
.btn {
	background: none;
	border-color: #fff;
	border-radius: 0;
	box-shadow: none;
	color: #fff;
	text-shadow: none;
	transition: all 250ms ease;
	-moz-transition: all 250ms ease;
	-ms-transition: all 250ms ease;
	-o-transition: all 250ms ease;
	-webkit-transition: all 250ms ease;
}

.btn:hover,
.btn:focus {
	background: #fff;
	border-color: #ccc;
	box-shadow: none;
	color: #000;
}

input.form-control,
textarea.form-control,
select.form-control {
	background: none;
	border: 1px solid #fff;
	border-radius: 0;
	color: #fff;
}

option {
	color: #000;
	background-color: #fff;
	padding: 5px;
}

.no-option {
	background: #dddddd;
}
/********************************************
* Modal Window Content Styles
********************************************/
.modal-body .form-group {
	margin-right: 10px;
}

.modal-footer-text {
	text-align: left;
}
/**  Footer **/

footer {
	background:  #6d3236;
	color: white;
	font-size: .8em;
	padding: 20px 0 40px 0;
}


footer .phone, .email {
	font-size: 1.4em;
	font-weight: 700;
	color: #E0E6AE;
}



